.element-doc {
  .vp-tag {
    display: inline-block;
    padding: 0 6px;
    border: 1px solid #409eff;
    border-radius: 4px;
    color: #409eff;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    vertical-align: middle;

    &.beta {
      color: #f56c6c;
      border-color: #f56c6c;
    }
  }

  .ml-1 {
    margin-left: 0.25rem;
  }
}
